html, body {
	font-family: 'Cinzel Decorative', cursive;
	background: #F2F2F2;
	text-align: center;
}
.heading {
	color: #6B8200; /*green heading*/
}
.keys {
	color: #F91933; /*red button*/
	font-size: 2em;
}
.mycell {
	background-color: #FFF;
	width: 20px;
	height: 20px;
	float: left;
}
.sel {
	background: #45943D;
}
.selA {
	background-image: url("apple1.png");
	background-repeat: no-repeat;
}

#div-main {
	width: 400px;
	height: 400px;
	padding: 0px;
	margin: 0px auto;
	border: 2px solid #86112B;
}